.main--header {
  background-color: #e0e6e0;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.main--title {
  text-align: center;
  justify-items: center;
  cursor: pointer;
  margin-left: 2rem;
}

.main--title h1 {
  font-size: 2.5rem;
}

.name--NEX {
  font-weight: 400;
}

.name--X {
  color: #8db600;
  font-size: 3rem;
  font-weight: 1000;
  font-family: "Times New Roman", serif;
}

.main--title h4 {
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 0.3rem;
  letter-spacing: 0.1rem;
}

.main--nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  margin-right: 2rem;
}

.main--nav li {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

.main--nav li::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2bbbad;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.main--nav li:hover::before {
  transform: scaleX(1);
}
.menu--icon {
  display: none;
}

/* Media query for Desktop screens */
@media screen and (max-width: 1200px) {
  .main--title h1 {
    font-size: 2rem;
  }

  .main--title h4 {
    font-size: 0.5rem;
  }

  .main--nav {
    gap: 2.5rem;
    margin-right: 2rem;
  }

  .main--nav li {
    font-size: 1rem;
  }
}

/* Media query for laptop screens */
@media screen and (max-width: 992px) {
  .main--title h1 {
    font-size: 1.8rem;
  }

  .main--title h4 {
    font-size: 0.4rem;
  }

  .main--nav {
    gap: 1.5rem;
    margin-right: 2rem;
  }

  .main--nav li {
    font-size: 0.8rem;
  }
}
/* Media query for tablet screens */
@media screen and (max-width: 768px) {
  .main--header {
    height: 7vh;
  }

  .main--title {
    padding-bottom: 12px;
  }

  .name--X {
    font-size: 2rem;
  }
  .main--title h1 {
    font-size: 1.2rem;
  }

  .menu--icon {
    position: relative;
    display: inline;
    font-size: 2rem;
    cursor: pointer;
    right: 2rem;
    color: white;
    background-color: #2bbbad;
    border-radius: 5px;
  }

  #menu--iconX {
    position: absolute;
  }

  .mobile--nav li {
    color: #fff;
    /* color: whitesmoke; */

    text-align: center;
  }

  .mobile--nav li:hover {
    background-color: #2bbbad;
  }

  .main--nav {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    left: 0;
    right: 0;
    top: 2rem;
    padding-left: 10px;
    margin-top: 2.5rem;
    gap: 0.1rem;
    width: 100vw;
    background-color: transparent;
    right: 3.65rem;
    border-radius: 3px;
    z-index: 0.1;
  }

  .main--nav li {
    color: whitesmoke;
    width: 100%;
    padding-left: 5px;
    border-left: 2px solid #2bbbad;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main--nav li:hover {
    background: #2bbbad;
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 576px) {
  .main--title h1 {
    font-size: 1.5rem;
  }
  .menu--icon {
    position: relative;
    display: inline;
    font-size: 2rem;
    cursor: pointer;
    right: 2rem;
    background-color: #2bbbad;
    border-radius: 5px;
  }

  .main--nav {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    left: 0;
    right: 0;
    padding-left: 10px;
    margin-top: 2rem;
    gap: 0.1rem;
    width: 100vw;
    background-color: transparent;
    right: 3.65rem;
    border-radius: 3px;
    z-index: 0.1;
  }

  .main--nav li {
    color: whitesmoke;
    width: 100%;
    padding-left: 5px;
    border-left: 2px solid #2bbbad;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main--nav li:hover {
    background: #2bbbad;
  }
}
