.Reasons {
  background-color: rgb(58, 58, 58);
  padding: 3.5rem 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.left-r img {
  width: 40rem;
  height: 32rem;
  object-fit: contain;
}

.right-r {
  width: 42rem;
}

.right--head--1 {
  color: #2bbbad;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 3px;
}

.right--head--why {
  font-size: 4.5rem;
  color: transparent;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: whitesmoke;
}
.right--head--2 {
  font-size: 2rem;
  color: whitesmoke;
  margin-top: -0.9rem;
}

.h5--reasons {
  margin-top: 0.8rem;
}

li {
  color: whitesmoke;
  font-size: 1.2rem;
  list-style: none;
  padding-left: -3rem;
  display: flex;
  align-items: center;
}

.reason--mark {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #2bbbad;
  padding-right: 0.7rem;
}

.partner--head {
  color: grey;
  margin-top: 1.5rem;
  font-size: 3rem;
}

.partner--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.puma,
.fila,
.adidas {
  width: 8rem;
  height: 9rem;
}

/* Media query for Desktop Screen */
@media screen and (max-width: 1200px) {
  .Reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .left-r img {
    width: 33rem;
    height: 32rem;
    object-fit: contain;
  }

  .right-r {
    width: 35rem;
  }

  .right--head--1 {
    font-size: 1.5rem;
  }

  .right--head--2 {
    font-size: 1.5rem;
  }

  .right--head--why {
    font-size: 4rem;
  }

  .partner--icon {
    gap: 1rem;
    width: 20rem;
  }

  li {
    font-size: 1rem;
  }

  .partner--head {
    font-size: 2rem;
  }

  .puma,
  .fila,
  .adidas {
    width: 6rem;
    height: 7rem;
    padding-right: 1rem;
  }
}

/* Media query for laptop Screen */
@media screen and (max-width: 992px) {
  .left-r img {
    width: 25rem;
    height: 32rem;
    object-fit: contain;
  }

  .right-r {
    width: 30rem;
  }

  .right--head--1 {
    font-size: 2rem;
  }

  .right--head--2 {
    font-size: 2rem;
  }

  .right--head--why {
    font-size: 3.5rem;
  }

  .partner--icon {
    gap: 1rem;
    width: 15rem;
    margin-left: -2rem;
  }

  li {
    font-size: 1rem;
  }

  .partner--head {
    font-size: 1.5rem;
  }

  .puma,
  .fila,
  .adidas {
    width: 6rem;
    height: 7rem;
  }
}

/* Media query for tablet Screen */
@media screen and (max-width: 768px) {
  .Reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .left-r img {
    width: 30rem;
    height: 32rem;
    object-fit: contain;
  }
  z .right-r {
    width: 25rem;
  }

  .right--head--1 {
    font-size: 2.5rem;
  }

  .right--head--2 {
    font-size: 2.5rem;
  }

  .right--head--why {
    font-size: 4rem;
  }

  .h5--reasons ul {
    font-size: 1rem;
  }
  .partner--head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .partner--icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1.5rem;
  }

  .puma,
  .fila,
  .adidas {
    width: 7rem;
    height: 5rem;
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 576px) {
  .Reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .left-r img {
    width: 18rem;
    height: 32rem;
    object-fit: contain;
  }

  .right-r {
    width: 22rem;
  }

  .right--head--1 {
    font-size: 2rem;
  }

  .right--head--2 {
    font-size: 2rem;
  }

  .right--head--why {
    font-size: 4rem;
  }
  .partner--head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }

  .partner--icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1.5rem;
  }

  .puma,
  .fila,
  .adidas {
    width: 6rem;
    height: 5rem;
  }
}
